main {
    /* text-align: center; */
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

h1 {
    color: #4C78A8;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
}

a {
    color: #4C78A8 !important;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}